*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif, Verdana, Geneva, Tahoma;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(16, 13, 204);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

#clock {
  font-size: 2.5rem;
}

.container {
  background-color: black;
  color: rgb(30, 247, 30);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12rem;
  width: 18rem;
}
